*{
  background-color: #DD614A;
  color: white;
}

.navbar{
  padding: 0;
}

.navbar-default .navbar-nav > li > a {
  color:#fff;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.nav{
  margin-top: 20px;
  font-size: 150%;
}

.sticky {
  //position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}


