h1{
  text-align: center;
}


.pizza {
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: #DD614A;
  text-shadow: 1px 1px #000000;
  color:white;


  img {
    cursor: pointer;
    opacity: 1;
    width: 80%;
    height: 80%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }
  img:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


}

.container{
  max-width: 90%;
}
